body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.container .strip{
    display: flex;
}

.container .strip .active{
    background-color: red;
}

.container .strip .grid{
    border:0.5px solid black;
    width: 2vw;
    height: 2vw;
}