body{
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: url('image/background.gif');
    background-size: cover;
}

legend,label{
    font-size: 20px;
}

input[type^='number'], input[type^='submit']{
    border: none;
    border-radius: 10px;
}

input[type^='submit']:hover{
    background-color: aquamarine;
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.withGrid{
    border: 1px solid black;
}

#currentColor{
    background-color: black;
}

#pcolor{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;

}

#pcolor::-webkit-color-swatch{
    border-radius: 15px;
    border: none;
}

#pcolor::-moz-color-swatch{
    border-radius: 15px;
    border: none;
}

.container .strip{
    display: flex;
    flex: auto;
}

.container .strip .active{
    background-color: red;
}

.container .strip .grid{
    display: flex;
    flex: auto;
}

.settings button{
    background-color: aqua;
    border: none;
}